{% extends "base.html" %}

{% block main %}
<script type="text/javascript">

    var statistics = {
        url_basic    : '{% url auction:json.statistics.basic %}'
      , url_extended : '{% url auction:json.statistics.extended %}'
    }

    var auction  = {
        id     : '{{ auction.id|default:0 }}'
      , url    : '{% url auction:json.AUCTION auction.id|default:0 %}'
      , string : '{{ auction|default:"?" }}'

      , start_date    : '{{ auction.start_date }}'
      , expiry_date   : '{{ auction.expiry_date }}'

      , target_amount : Number ('{{ auction.target_amount }}').toFixed (2)
      , target_rate   : Number ('{{ auction.target_rate }}').toFixed (2)

      , actual_amount : function () {
            return ('{{ auction.actual_amount|default:"?" }}' != '?')
                ? Number ('{{ auction.actual_amount }}').toFixed (2)
                : '?'
        }()
      , actual_rate   : function () {
            return ('{{ auction.actual_rate|default:"?" }}' != '?')
                ? Number ('{{ auction.actual_rate }}').toFixed (2)
                : '?'
        }()

      , default_bid   : {
          'amount' : 25
        , 'rate'   : '{{ auction.target_rate }}'
        }
    }

    var bid = {
        url_post : '{% url auction:post.BID %}'
      , url_set  : '{% url auction:extjs.BID_SET %}'
      , url_page : '{% url auction:post.cache_page "$0" %}'
    }

    var project  = {
        id     : '{{ project.id|default:0 }}'
      , url    : '{% url prj:json.PROJECT project.id|default:0 %}'
      , string : '{{ project.name|default:"?" }}'

      , contact : {
            id     : '{{ project.contact.id|default:0 }}'
          , url    : '{% url people:json.PERSON project.contact.id|default:0 %}'
          , string : '{{ project.contact|default:"?" }}'

          , title      : '{{ project.contact.title }}'
          , first      : '{{ project.contact.first }}'
          , last       : '{{ project.contact.last }}'
          , dob        : '{{ project.contact.dob }}'
          , address    : '{{ project.contact.address|default:"?" }}'

          , education  : {
                id     : '{{ education.id|default:0 }}'
              , url    : '{% url edu:json.EDUCATION education.id|default:0 %}'
              , string : '{{ education|default:"?" }}'
          }

          , profession : '{{ employee.profession|default:"?" }}'
      }
    }

    var user = {
        id     : '{{ person.id|default:0 }}'
      , url    : '{% url people:json.PERSON person.id|default:0 %}'
      , string : '{{ person|default:"" }}'
    }
    
</script>

<script type="text/javascript" src="{% url auction:lhs.js %}"></script>
<script type="text/javascript" src="{% url auction:rhs.js %}"></script>

<script type="text/javascript">
Ext.onReady(function() {

    Ext.QuickTips.init();
    var hbox = {

        layout : 'hbox'
      , frame  : true
      , layoutConfig : {
          align : 'stretch'
      }

      , items : [{
            layout : 'fit'
          , flex   : 1
          , items  : [pnlLhs]
      },{
            width : 5
      },{
            layout : 'fit'
          , flex   : 2
          , items  : [pnlRhs]
      }]
    }

    var viewport = new Ext.Viewport({

        layout : 'border'
      , id     : 'viewportId'
      , items : [{
            region : 'center'
          , layout : 'fit'
          , items  : [hbox]
      }]

    });

    viewport.show ();

});</script>
{% endblock %}

{% block body %}
<style type="text/css">
#tblAuctionId    .x-grid3-hd-row { display:none; }
#tblBorrowerId   .x-grid3-hd-row { display:none; }
#tblStatisticsId .x-grid3-hd-row { display:none; }
</style>
{% endblock %}
